body {
	background: gainsboro;
}

a {
	text-decoration: none;
}

li {
	padding: 45px;
	font-size: 20px;
	height: 220px;
	max-width: 160px;
	float: left;
	list-style: none;
}

img {
	max-width: 160px;
}

#searchDiv {
	margin-top: 80px;
	text-align: center;
}

#newBook {
	/*width: 1200px;*/
	/*height: 1200px;*/
	background: silver;
	float: left;	
	display: inline-block;
	margin-top: 15px;
}